html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    background: #e6e0cf;
}

#boardContainer {
    width: 100%;
    height: 90%;
    background: #e6e0cf;
}

.toolbar {
    float: right;
}

.title {
    float: left;
}
